<%- include('partials/header'); %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
            <h1>Camera</h1>
                <div class="d-flex flex-row justify-content-center">
                    <div class="col-3"></div>
                    <div class="embed-responsive embed-responsive-4by3 col-6">
                        <script>
                            $(document).ready(function(){
                                var url = "http://" + window.location.host +":8080/?action=stream";
                                $('#camera').attr('src', url);
                            });
                        </script>
                        <iframe id="camera" class="embed-responsive-item" src="" allowfullscreen></iframe>
                    </div>
                    <div class="col-3"></div>
                </div>
        </div>
    </div>
<%- include('partials/footer'); %>
