<%- include('partials/header'); %>
    <div class="container" align="center">
        <div class="jumbotron" >
            <h1>There was an error!</h1>
            <p><%= error.body %></p>

        </div>
    </div>
<%- include('partials/footer'); %>
