<%- include('partials/header'); %>
<div class="container" align="center">
    <div class="jumbotron" >
        <h1>Manually Create a Part</h1>
        <form action="/parts" method="POST">
            <div class="container">
                <div class="row justify-content-md-center" >
                    <div class="form-check form-check-inline">
                        <label>Scale ID</label>
                        <input class="form-check-input ml-1" type="text" name="part[scaleID]" class="form-control">
                    </div>
                    <div class="form-check form-check-inline">
                        <label>Name</label>
                        <input class="form-check-input ml-1" type="text" name="part[name]" class="form-control">
                    </div>
                    <div class="form-check form-check-inline">
                        <label> Quantity </label>
                        <input class="form-check-input ml-1" type="text" name="part[quantity]" class="form-control">
                    </div>
                </div>
                <div class="row justify-content-md-center mt-3" >
                    <div class="form-check form-check-inline">
                        <label> Weight </label>
                        <input class="form-check-input ml-1" type="text" name="part[weight]" class="form-control">
                    </div>
                    <div class="form-check form-check-inline">
                        <label> Zero offset </label>
                        <input class="form-check-input ml-1" type="text" name="part[zero_offset]" class="form-control">
                    </div>
                    <div class="form-check form-check-inline">
                        <label> Calibration Factor </label>
                        <input class="form-check-input ml-1" type="text" name="part[calibration_factor]" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-check">
                <button class="btn btn-dark mt-3">Create Part</button>
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer'); %>
